<div class="Hcard">
  <div *ngIf="isEditUrl == false">
    <span class="header">Upload Track</span>
  </div>
  <div *ngIf="isEditUrl == true">
    <span class="header">Edit Track</span>
  </div>
  
  <div style="float: right;margin-top:-45px;" >
    <button class="btn" [routerLink]="['/dashboard']">Back</button>
    <button class="btn" (click)="logOut()">Logout</button>
  </div>
</div>

<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form class="track" [formGroup]="trackForm">
        <div class="track__field">
          <i class="track__icon fas fa-user"></i>
          <input
            type="text"
            class="track__input"
            formControlName="song_name"
            placeholder="Track Name"
          />
        </div>

        <div class="track__field">
          <span>Select Image:</span>
          <input
            type="file"
            class="track-input"
            (change)="onImageFileSelected($event)"
            #fileUpload
          />
        </div>

        <div class="track__field">
          <span>Select MP3:</span>
          <input
            type="file"
            class="track-input"
            (change)="onMP3FileSelected($event)"
            #fileUpload
          />
        </div>

        <div class="track__field">
          <i class="track__icon fas fa-lock"></i>
          <input
            type="text"
            class="track__input"
            formControlName="discription"
            placeholder="Track Discription"
          />
        </div>
        <div *ngIf="isEditUrl == true">
          <button class="button track__submit" (click)="editTrack()">
            <span class="button__text">Update Track</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>
        </div>
        <div *ngIf="isEditUrl == false">
          <button class="button track__submit" (click)="addTrack()">
            <span class="button__text">Upload Track</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>
        </div>
      </form>
      <div class="social-track"></div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
<!--  -->
